In [1]:
import pandas as pd

### Importing Datasets

In [3]:
df1 = pd.read_csv(r"C:\Users\jhanvi.kasundra\Downloads\Projects New\Data/df1.csv")   #job title and desc

In [4]:
ml_jobs = pd.read_csv(r"C:\Users\jhanvi.kasundra\Downloads\Projects New\Data/1000_ml_jobs_us.csv")

In [5]:
resumes = pd.read_csv(r"C:\Users\jhanvi.kasundra\Downloads\Projects New\Data/preprocessed_dataset.csv") # cat, text

In [6]:
print ("df1:", df1.shape, df1.columns)
print("ml_jobs:", ml_jobs.shape, ml_jobs.columns)
print ("resumes:", resumes.shape, resumes.columns)

df1: (14409, 2) Index(['title', 'description'], dtype='object')
ml_jobs: (997, 10) Index(['Unnamed: 0', 'job_posted_date', 'company_address_locality',
       'company_address_region', 'company_name', 'company_website',
       'company_description', 'job_description_text', 'seniority_level',
       'job_title'],
      dtype='object')
resumes: (13389, 2) Index(['category', 'text_cv'], dtype='object')

### Cleaning & Standardizing Jobs into on schema

In [8]:
jobs_a = df1.rename(columns={"title": "job_title","description":"job_text"})  ##renaming cols
jobs_a["company_name"]=None  ## adding new col
jobs_a["location"]=None   ## adding new col
jobs_a["source"]="df1"  ##Add a new column called source, and write df1 in every row

In [9]:
jobs_b = pd.DataFrame({
    "job_title":ml_jobs["job_title"],
    "job_text":ml_jobs["job_description_text"],
    "company_name":ml_jobs["company_name"],
    "location":ml_jobs["company_address_locality"].fillna("")+", " + ml_jobs["company_address_region"].fillna(""),
    "source":"ml_jobs"
})

In [10]:
jobs = pd.concat([jobs_a[["job_title","job_text","company_name","location","source"]],
                  jobs_b[["job_title","job_text","company_name","location","source"]]], ignore_index=True)

### Clean minimal (remove empty text)

In [12]:
jobs = jobs.dropna(subset=["job_text"])
jobs = jobs[jobs["job_text"].str.strip().astype(bool)]

In [13]:
resumes = resumes.dropna(subset=["text_cv"])
resumes = resumes[resumes["text_cv"].str.strip().astype(bool)]

### Saving clean version of datasets

In [15]:
jobs.to_csv(r"C:\Users\jhanvi.kasundra\Downloads\Projects New\Data/jobs_clean.csv", index=False)
resumes.to_csv(r"C:\Users\jhanvi.kasundra\Downloads\Projects New\Data/resumes_clean.csv", index=False)

In [16]:
print("jobs_clean:", jobs.shape, "resumes_clean:", resumes.shape)

jobs_clean: (15405, 5) resumes_clean: (13389, 2)

In [17]:
jobs.head()

,job_title,job_text,company_name,location,source
0,Help Desk Analyst- Tier II,Diagnose computer errors and triage to determi...,None,None,df1
1,Clinical Research Associate II,Job Responsibilities:. . As a Clinical Res...,None,None,df1
2,ETL Data Engineer with Oracle Data Integrator ...,Role: ETL Data Engineer with Oracle Data ...,None,None,df1
3,OR COMM/DATA SUPPORT SPEC,Assumes primary responsibility of unit secreta...,None,None,df1
4,Data Analyst - Intex Developer,Back to job search Data Analyst - Intex Dev...,None,None,df1

In [18]:
resumes.head()

     category                                            text_cv
0  accountant  education\r\nomba - executive leadership unive...
1  accountant  howard gerrard\r\naccountant\r\ndeyjob.com, bi...
2  accountant  kevin frank\r\nsenior accountant\r\ninfo@resum...
3  accountant  place of birth\r\nnationality\r\nolivia ogilvy...
4  accountant  stephen greet, cpa\r\nsenior accountant\r\nthr...